<h2>Панель Администратора</h2>


<a class="btn" asp-action="ProjectList" asp-controller="AdminPanel">Показать список проектов</a><br />
<a class="btn" asp-action="UserList" asp-controller="AdminPanel">Показать список сотрудников</a><br />